body{

    margin: 0px;
    padding: 0px;
    background-color: rgba(99, 92, 194, 0.466);



}

.nav-bar{
    background-color: rgba(206, 110, 110, 0.733);
    color: rgb(117, 114, 114);
    height: 70px;
    width: 100%;
    display: inline-flex;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

.title{
    font-size: 30px;
    padding-top: 16px;
    padding-left: 100px;
}


.cart{
    font-size: 20px;
    padding-top: 20px;
    margin-left: 100%;
    opacity: 1; 

}


.orders , .profile{
    font-size: 20px;
    padding-top: 20px;
    margin-left: 20px; 
    opacity: 1; 

}



.nav-bar a{
    text-decoration: none;
    text-decoration-line: none;
    color: rgb(117, 114, 114);

}

.nav-bar a:hover{
 
        color: black;
        cursor: pointer;

}





.detail{
    margin-left: 100px;
}
.back{
    display: inline-flex;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
}


.go-back{
    font-size: 20px;
    margin-left:20px ;
    margin-top: 10px;
}
.back .go-back a{
    
    color: black;
}





.box{
    border-style: solid;
    border-radius: 10px;
    border-width: 0px;
    width: 80%;
    margin-left: 150px;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.795);
    padding-top: 20px;
    margin-bottom: 20px;

}



.inline{
    display: inline-flex;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.product{
    height: 100px;
    width: 200px;
    margin-left: 30px;
    
    
}

.description{
    height: 50px;
    width: 400px;
    margin-left: 20px;
    

    
}


.price{
    height: 50px;
    width: 100px;
    margin-left: 120px;
    
    
}
.quantity{
    height: 50px;
    width: 100px;
    margin-left: 20px;
    
    
}
.Total{
    height: 50px;
    width: 150px;
    margin-left: 5px;
    
    
}



.bigfont {
    font-size: 30px;
}


.all_total{
    height: 50px;
    width: 200px;
    margin-left: 750px;


}