


body{

    margin: 0px;
    padding: 0px;
    background-color: rgba(99, 92, 194, 0.466);



}

.nav-bar{
    background-color: rgba(206, 110, 110, 0.733);
    color: rgb(117, 114, 114);
    height: 70px;
    width: 100%;
    display: inline-flex;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

.title{
    font-size: 30px;
    padding-top: 16px;
    padding-left: 100px;
}


.cart{
    font-size: 20px;
    padding-top: 20px;
    margin-left: 55%;
    opacity: 1; 
    

}


.orders , .profile{
    font-size: 20px;
    padding-top: 20px;
    margin-left: 20px; 
    opacity: 1; 

}



.nav-bar a{
    text-decoration: none;
    text-decoration-line: none;
    color: rgb(117, 114, 114);

}

.nav-bar a:hover{
 
        color: black;
        cursor: pointer;

}


.empty-cart-box{

    display: inline-block;
    background-color: rgba(255, 255, 255, 0.795);
    border-radius: 20px;
    border-style: none;
    padding: 70px;
    margin-top: 30px;
    line-height: 50px;



}

.empty-cart-box .empty-cart{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.empty-cart-box .empty-cart small{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.empty-cart-box .empty-cart a{
    color: black;

}